html {
  cursor: url('./hammer.png') 30 90, auto;
}

.hammer-down {
  cursor: url('./hammer_down.png') 30 90, auto;
}

body {
  background-color: #23272F;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  color: #F2F3F5;
}

.game-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.board {
  display: flex;
  flex-direction: column;
  border: #F2F3F5 solid;
  margin: auto;
  max-width: fit-content;
}

.board-row {
  display: flex;
  max-height: fit-content;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  font-weight: bold;
  font-size: 70px;
  background-color: #342f3d;
  color: #F2F3F5;
  border: #F2F3F5 solid;
}

@media only screen and (max-width: 767px) {
  .square {
    height: 25vw;
    width: 25vw;
  }
}
.control {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 30px;
}

h1 {
  color: white;
  font-size: 20px;
  text-align: center;
}

.info-box {
  display: flex;
  flex-direction: column;
}

.info {
  color: white;
  font-size: 20px;
  flex-grow: 1;
}

#start {
  width: 100px;
  height: 100px;
  color: white;
  background-color: #342f3d;
  font-size: 20px;
  border-radius: 60px;
}
